BorhanLiveAnalytics/.settings/
BorhanLiveAnalytics/build/
BorhanLiveInfra/bin/
BorhanLiveModel/bin/
.classpath
.project
IP2Location/.settings/org.eclipse.wst.common.component
IP2Location/.settings/org.eclipse.wst.common.project.facet.core.xml
BorhanLiveAnalytics/target/
NewLiveAnalytics/target/
NewLiveAnalytics/project/
NewLiveAnalytics/lib_managed/
.idea/
*.iml
out/
